{% extends 'BasePage.html' %}

{% block Title %}
關於我
{% endblock %}

{% block mainPage %}





	<div id="about"style="text-align: center;">

		<h3 style="color: blue;font-size: 30px;font-weight: bold;" >關於我的訊息</h3><br>
		<p style="font-weight: bold;font-size: 20px;">
			我住在南投純樸小城市，個性安靜理性，家裡排行老大，曾經在香辛料公司工作，目前進修在程式語言。
		</p>
		<br>
		<p style="font-weight: bold;font-size: 20px;">
			平時休息喜歡睡覺，看解說影片、視頻，偶爾會騎公路車出去運動，也會安排與家人出遊，或是自己與朋友出國。
		</P>
		<br>
		<p style="font-weight: bold;font-size: 20px;">
			對於要出遊的事，我會安排計畫好再出門，在時間有限情況下，都要事先訂好房間，選好要玩的景點。曾經自己獨自去環島二次，分次認識來自對岸的女孩，真的是很巧的緣分。
		</P>
		<br>
		<p style="font-weight: bold;font-size: 20px;">
			目前疫情解封，自己也打算更換護照後出國去，不過要先存旅費才可以好好的買東西、吃東西，放鬆心情!
		</p>

		<div style="margin-top:80px;"></div>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/53cK9cBLs9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

	</div>



{% endblock %}