{% extends 'BasePage.html' %}

{% block Title %}
首頁
{% endblock %}

{% block mainPage %}
<!-- top -->
         <div class="slider_main">
            <!-- carousel code -->
            <div id="banner1" class="carousel slide">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <!-- first slide -->
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption relative">
                           <div class="row d_flex">
                              <div class="col-md-5">
                                 <div class="creative">
                                    <h1>北海道旅遊</h1>
                                    <p>去了二次，雪景非常美麗，泡湯很舒服，雪上活動也很好玩。
                                    還有尼克斯公園的企鵝遊行也是有趣!!</p>
                                    
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <div class="row mar_right">
                                    <div class="col-md-6">
                                       <div class="agency">
                                          <figure><img src="{{ url_for('static',filename='images/ss.jpg')}}" alt="#"/></figure>
                                          <div class="play_icon">
                                             <a class="play-btn" href="https://travel.liontravel.com/detail?NormGroupID=b51908e1-cf20-43ab-aff9-76a52c9137cc&mtl=feebee&utm_source=feebee&utm_medium=referral&utm_campaign=to&GroupID=23JH927ITD-ZP"><img src="{{ url_for('static',filename='images/play_icon.png')}}"></a>
                                          </div>
                                       </div>
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- second slide -->
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption relative">
                           <div class="row d_flex">
                              <div class="col-md-5">
                                 <div class="creative">
                                    <h1>九州 </h1>
                                    <p>大部分都在逛公園，不過門司港的風景不錯!</p>
                                    
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <div class="row mar_right">
                                    <div class="col-md-6">
                                       <div class="agency">
                                          <figure><img src="{{ url_for('static',filename='images/99.jpg')}}" alt="#"/></figure>
                                          <div class="play_icon">
                                             <a class="play-btn" href="https://www.dtsgroup.com.tw/website/subject_product.html?prodCd=DTS23-FUK008"><img src="{{ url_for('static',filename='images/play_icon.png')}}"></a>
                                          </div>
                                       </div>
                                    </div>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- third slide-->
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption relative">
                           <div class="row d_flex">
                              <div class="col-md-5">
                                 <div class="creative">
                                    <h1>大阪</h1>
                                    <p>是我第一次出國的地方，環球影城真的很好玩</p>
                                    
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <div class="row mar_right">
                                    <div class="col-md-6">
                                       <div class="agency">
                                          <figure><img src="{{ url_for('static',filename='images/dn.jpg')}}" alt="#"/></figure>
                                          <div class="play_icon">
                                             <a class="play-btn" href="https://www.colatour.com.tw/C10A_TourSell/C10A16_TourItinerary.aspx?PatternNo=209826"><img src="{{ url_for('static',filename='images/play_icon.png')}}"></a>
                                          </div>
                                       </div>
                                    </div>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- controls -->
               <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
               <i class="fa fa-angle-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
               <i class="fa fa-angle-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
      <!-- end banner -->
      <div id="mainContainer">
	 </div>

{% endblock %}