{% extends 'BasePage.html' %}

{% block Title %}
旅遊消息
{% endblock %}

{% block mainPage %}

	{% for row in allnews %}
		<div class="news">

			<div class="newsleft" style="text-align: center">

				{% if row[3]|length > 10 %} <!-- 過濾器-->
					<img src="{{row[3]}}">
				{% else %}
					<img src="{{ url_for('static',filename='images/pg.jpg') }}">
				{% endif %}
				<h4 style="font-weight: bold;"><a href="{{row[2]}}">{{row[1]}}</a></h4>
			</div>
			
		</div>

	{% endfor %}

{% endblock %}