{% extends 'BasePage.html' %}

{% block Title %}
關於這裡
{% endblock %}

{% block mainPage %}


	<div id="about"style="text-align: center;">

		<h3 style="color: blue;font-size: 30px;font-weight: bold; margin-top: 20px;"  >關於這裡</h3><br>
		<p style="font-weight: bold;font-size: 20px;">
			這裡是喜愛日本旅遊與美食的天地，歡迎同好者一起討論與出門旅遊去。
		</p>
		<br>
		<p style="font-weight: bold;font-size: 20px;">
			這裡會提供旅遊相關新聞與產品，分享去過的日本地點，歡迎閱讀與選購產品。
		</P>
		<br>
		<p style="font-weight: bold;font-size: 20px;">
			對於出國相關問題可以留訊息，在獲得訊息會盡快給予回覆。
		</P>
		<br>
		<p style="font-weight: bold;font-size: 20px;">
			目前疫情解封，自己也打算更換護照後出國去，不過要先存旅費才可以好好的買東西、吃東西，放鬆心情!
		</p>

		<div style="margin-top:80px;"></div>
			<p style="font-weight: bold;color: blue;font-size: 20px;">
			流行 KPOP 
		</p>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/53cK9cBLs9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

	</div>



{% endblock %}