 {% extends 'BasePage.html' %}

{% block Title %}
聯絡我們
{% endblock %}

{% block mainPage %}

 <!-- appointment -->
      <div class="appointment">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage text_align_center">
                     <h2>想說的話</h2>
                     <h3 style="font-weight: bold;">有什麼想問的??</h3>
                  </div>
               </div>
               <div class="col-md-12">
                  <form id="request" class="main_form"action=" " method="post">
                  {% csrf_token %}
                     <div class="row">
                        <div class="col-md-6 ">
                           <input class="form_control" placeholder=" 姓名" type="text" name="cuName"> 
                        </div>
                        <div class="col-md-6">
                           <input class="form_control" placeholder="Email" type="email" name="email"> 
                        </div>
                       
                        <div class="col-md-12">
                           <input class="form_control" placeholder="標題" type="text" name="question">                          
                        </div>
                      
                        
                        <div class="col-md-12">
                           <textarea style=" color:blue" class="textarea" placeholder="訊息"  name="content"> </textarea>
                        </div>
                        <div class="col-md-12">
                           <button  type="submit" class="send_btn">送出</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end appointment -->
{% endblock %}