
.newsArea{
	float:left;
	padding:2%;
	width:23%;
	height:250px;
	margin-left:50px;

}

.newsImg{
	float:left;
	width:100%;
}

.newsImg img{
	width: 50%;
	height:200px;
}

.newsTitle{
	float:left;
	width:100%;
}

#content{
	margin-left: 10%;
}