{% extends 'BasePage.html' %}

{% block pageTitle %}
關於我
{% endblock %}

{% block css %}
<link href="{{ url_for('static',filename='css/about.css' )}}" rel="stylesheet">
{% endblock %}

{% block mainContent %}

<div id="about">

	<h3>關於我的訊息</h3>
	<p>
		緯創資通是全球最大的資訊及通訊產品主要供應商之一，除總部位於台灣外，我們更佈局全球運籌和營運據點於亞太地區、歐洲及美洲地區。緯創具備深厚的研發基礎，豐富的產品開發經驗，其陣容堅強的技術團隊皆能圓滿達成顧客所交付的工作任務。
	</p>

	<P>
		客戶藉由與緯創的合作，發展出領先市場並且快速被消費者接受的創新性電子資訊產品，緯創所提供的專業服務令客戶安心且信賴，讓顧客能無後顧之憂的專注於新品上市的策略規劃及行銷推廣。
	</P>

	<P>
		緯創不論在設計、製造及服務方面，都能提供客戶最完善的支援。我們的設計團隊規劃、管理所有製造生產的前置工作，包括產品概念化、工業及機構設計、環境測試、安規及認證，直到新產品的導入。
	</P>

	<p>
		憑藉著完善的系統整合能力，緯創能更快速的回應顧客需求，提供客戶全方位的產品組裝服務，包括接單後生產(BTO)及接單後組裝(CTO)等不同的生產型態。另外，客戶服務部門則會針對產品的差異化及不同的市場區隔提供專案計劃服務，以充分滿足顧客的需求。
	</p>

	<div style="margin-top:80px;"></div>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/53cK9cBLs9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>



{% endblock %}