<html>
<head>
	<meta charset="utf-8">
	<title> 
		{% block pageTitle %}
		{% endblock %}
	</title>

	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">

	{% block css %}
	{% endblock %}

	{% block js %}
	{% endblock %}

</head>
<body>

	<div id ="wrapper">

		<div id="banner">

			<div id ="logo">				
			</div>
			<div id="menu">
				<ul class="bannermenu">
					<a href="/about"><li class="menutxt">關於我</li></a>
					<a href="/news"><li class="menutxt">旅遊新聞</li></a>
					<a href="/product"><li class="menutxt">旅遊產品</li></a>
					<a href="/contact"><li class="menutxt">與我連絡</li></a>
					<a href="/performance"><li class="menutxt">旅遊照片</li></a>
					<a href="http://127.0.0.1:5566"><li class="menutxt">返回首頁</li></a>
				</ul>
			</div>

		</div>

		<div id="ad">
			<img src="{{ url_for('static',filename='images/ad.jpg')}}">
		</div>

		<div id="content">

			{% block mainContent %}
			{% endblock %}

		</div>
	</div>

	<div id ="footer">
		<span>COPYRIGHT ©2023 Black DESGIN. ALL RIGHTS RESERVED.</span>
	</div>

</body>
</html>