{% extends 'BasePage.html' %}

{% block pageTitle %}
問題聯絡
{% endblock %}

{% block css %}
<link href="{{ url_for('static',filename='css/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block mainContent %}

<div style="margin-top: 50px;"></div>

<div id = "message">
	<p class="subject">問題連絡</p>
	<form class="contact_form" action="/addMessage" method="post">
		<div class ="form-group">
			<label>標題</label>
			<input type="text" name="title" class="form-control" required />
		</div>

		<div class ="form-group">
			<label>姓名</label>
			<input type="text" name="username" class="form-control" required />
		</div>

		<div class ="form-group">
			<label>Email</label>
			<input type="email" name="email" class="form-control" required />
		</div>

		<div class ="form-group">
			<label>反應內容</label>
			<textarea name ="content" rwos ="10" class="form-control" required></textarea>
		</div>

		<div class ="form-group">
			<button type="submit" class="btn_submit">送出訊息</button>
		</div>

	</form>
</div>

{% endblock %}