{% extends 'BasePage.html' %}

{% block pageTitle %}
首頁
{% endblock %}

{% block mainContent %}

<div id ='hot' style="width:80%; margin-left:10% ">
	<div style="color: red;font-size:22px;font-weight: bold;margin-top: 20px">
		*最新產品*
	</div>

	{% for row in hot %}

		<div style="width:20%;float: left;height: 400px">
			<a href="{{row[2]}}" target="_blank">
				<img src="{{row[3]}}" style="width: 80%">
			</a>
		</div>
	{% endfor %}
	
</div>



<div id ='news' style="width:80%; margin-left:10% ">
	<div style="color: red;font-size:22px;font-weight: bold;">
		*最新新聞*
	</div>

	{% for row in news %}

		<div style="width:20%;float: left;height: 400px;margin: 1%;">
			<a href="{{row[1]}}" target="_blank">
				<img src="{{row[2]}}" style="width: 80%">
				<p>{{row[0]}}</p>
			</a>
		</div>
	{% endfor %}
	
</div>

{% endblock %}