{% extends 'BasePage.html' %} <!-- 繼承-->


{% block pageTitle %}
旅遊新聞
{% endblock %}

{% block css %}
<link href="{{ url_for('static',filename='css/news.css')}}" rel="stylesheet">
{% endblock %}


{% block mainContent %}

			

	{% for row in allnews %}
		<div class="news">

			<div class="newsleft">

				{% if row[3]|length > 10 %} <!-- 過濾器-->
					<img src="{{row[3]}}">
				{% else %}
					<img src="{{ url_for('static',filename='images/news.jpg') }}">
				{% endif %}
			
			</div>
			<div class="newsright">
				<p><a href="{{row[2]}}">{{row[1]}}</a></p>
			</div>
		</div>

	{% endfor %}

{% endblock %}